@charset "UTF-8";
@keyframes twist {
  0% {
    transform: rotateZ(0);
  }
  50% {
    transform: rotateZ(180deg);
  }
  100% {
    transform: rotateZ(360deg);
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  font-weight: 700;
  color: #2A0031;
  background-image: linear-gradient(225deg, #c88dd2, #FCAAAB, #FFF5B6);
  background-size: 100% 110%;
  background-position: cover;
  background-repeat: no-repeat;
}

nav {
  position: sticky;
  top: 0;
  padding: 1em 2.5em;
  z-index: 5;
  background-color: rgba(245, 234, 234, 0.9450980392);
  width: 100%;
}
nav div {
  display: flex;
}
nav div.element-wrapper {
  width: 100%;
  justify-content: space-between;
}
nav div.element-wrapper div.main-menu {
  align-items: center;
}
nav div.element-wrapper div.main-menu p {
  display: none;
}
nav div.element-wrapper div.main-menu p.mobile-view {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
nav div.element-wrapper div.main-menu p.mobile-view img {
  height: 3em;
  margin-right: 0.5em;
}
nav div.element-wrapper div.main-menu ul {
  display: flex;
  align-items: center;
  list-style-type: none;
  padding-left: 4em;
  position: relative;
  left: -3.5em;
}
nav div.element-wrapper div.main-menu ul li a {
  border-radius: 30px;
  padding: 0.5em 2em;
  text-decoration: none;
  color: #2A0031;
  font-weight: 700;
  margin: 0 0.5em;
  transition: background-color 0.3s linear;
}
nav div.element-wrapper div.main-menu ul a.active {
  background-color: #FCAAAB;
}
nav div.element-wrapper div.main-menu ul a:hover {
  background-color: rgba(252, 170, 171, 0.5529411765);
}
nav div.element-wrapper div.resume-button-container {
  justify-content: center;
  align-items: center;
}
nav div.element-wrapper div.resume-button-container a {
  text-decoration: none;
  color: #2A0031;
  background-color: rgba(255, 245, 182, 0.7607843137);
  border-radius: 30px;
  padding: 0.5em 2em;
  font-weight: 700;
  box-shadow: 1px 1px 5px rgba(42, 0, 49, 0.5843137255);
}
nav div.element-wrapper div.resume-button-container a:hover {
  background-color: #FFF5B6;
}

footer {
  display: flex;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  position: fixed;
  bottom: 2vh;
  right: 2.5em;
  z-index: 5;
}
footer a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1.5em;
}
footer a img {
  height: 3em;
}

@media only screen and (min-width: 1300px) {
  body {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  nav div.element-wrapper {
    width: 60%;
  }
}
@media only screen and (max-width: 1000px) {
  nav {
    position: fixed;
  }
  nav div.element-wrapper div.main-menu p {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    position: relative;
    height: 100%;
    width: 100%;
  }
  nav div.element-wrapper div.main-menu p img {
    height: 3em;
    margin-right: 0.5em;
    opacity: 100%;
    transition: opacity 0.5s linear;
  }
  nav div.element-wrapper div.main-menu p img[alt|="hamburger menu icon"] {
    position: absolute;
    opacity: 0;
  }
  nav div.element-wrapper div.main-menu p img.disappear-menu {
    opacity: 0;
  }
  nav div.element-wrapper div.main-menu p img.appear-menu {
    opacity: 100%;
  }
  nav div.element-wrapper div.main-menu p img.twist {
    animation-name: twist;
    animation-duration: 0.5s;
    animation-timing-function: linear;
  }
  nav div.element-wrapper div.main-menu p:hover {
    cursor: pointer;
  }
  nav div.element-wrapper div.main-menu ul {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    overflow: hidden;
    background-color: rgba(245, 234, 234, 0.9450980392);
    transition: height 0.5s ease-in;
    padding-left: 0;
  }
  nav div.element-wrapper div.main-menu ul li {
    margin: 1em 0;
  }
  nav div.element-wrapper div.main-menu ul li a {
    font-size: 1.5em;
  }
  nav div.element-wrapper div.main-menu ul.drop-mobile-menu {
    height: 100vh;
  }
  footer {
    bottom: 10vw;
    right: 55vw;
    justify-content: flex-end;
    align-items: flex-end;
    opacity: 0;
    transition: opacity 0.5s ease-in 0.2s;
  }
  footer a {
    margin-top: 1em;
  }
  footer.show-footer {
    opacity: 100%;
  }
}
@media only screen and (max-width: 400px) {
  nav div.element-wrapper div.main-menu p img {
    height: 2.5em;
  }
  nav div.element-wrapper div.resume-button-container a {
    font-size: 0.75em;
  }
}
#introduction-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3em 0;
  margin-top: 3vw;
}
#introduction-container img {
  width: 25%;
  border-radius: 100%;
  box-shadow: 1px 1px 5px rgba(42, 0, 49, 0.5843137255);
}
#introduction-container div {
  width: 60%;
  padding: 3em;
  margin-left: 2em;
}
#introduction-container div h2 {
  font-size: 2.3em;
  margin-bottom: 0.5em;
}
#introduction-container div h3 {
  font-size: 1.75em;
  margin-bottom: 1.5em;
}
#introduction-container div p {
  font-size: 1.3em;
  line-height: 1.7em;
}

#skills-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(245, 234, 234, 0.9450980392);
  padding: 5em 0;
  margin: 15vw 0;
  width: 100%;
}
#skills-container h2,
#skills-container div.skill-pills {
  width: -moz-fit-content;
  width: fit-content;
}
#skills-container h2 {
  font-size: 3em;
}
#skills-container div.skill-pills div {
  display: flex;
}
#skills-container div.skill-pills div p {
  font-size: 1.3em;
  border-radius: 30px;
  background-color: #FFF5B6;
  padding: 0.5em 3em;
  margin: 1.5em 1em 0 0;
  box-shadow: 1px 1px 5px rgba(42, 0, 49, 0.5843137255);
}
#skills-container div.skill-pills div p:nth-child(2) {
  background-color: #FCAAAB;
}
#skills-container div.skill-pills div p:nth-child(3) {
  background-color: #c88dd2;
}

div.description-container {
  width: 73%;
}
div.description-container h2 {
  font-size: 2em;
  margin-bottom: 0.5em;
}
div.description-container p {
  font-size: 1.2em;
  line-height: 1.5em;
}

#projects-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#projects-container div.project-link-container {
  display: flex;
  justify-content: space-between;
  position: relative;
}
#projects-container div.project-link-container div {
  width: 27vw;
  margin: 0 2vw;
}
#projects-container div.project-link-container div a {
  position: relative;
  width: 100%;
}
#projects-container div.project-link-container div a img {
  width: 100%;
  height: 14vw;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(42, 0, 49, 0.5843137255);
}
#projects-container div.project-link-container div a p {
  position: absolute;
  bottom: 0.2vw;
  font-size: 1.5em;
  background-color: #c88dd2;
  height: 14.1vw;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2A0031;
  opacity: 0;
  transition: opacity 0.3s ease-in;
  border-radius: 25px;
}
#projects-container div.project-link-container div a p:hover {
  opacity: 100%;
}
#projects-container div.project-link-container div p {
  padding: 1em;
}
#projects-container div.description-container {
  background-color: rgba(245, 234, 234, 0.9450980392);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em 0 1em 0;
}
#projects-container div.description-container h2,
#projects-container div.description-container p {
  width: 73%;
}
#projects-container div.description-container p {
  margin-bottom: 2em;
}
#projects-container div.description-container a[href|="projects.html"] {
  background-color: rgba(200, 141, 210, 0.7019607843);
  border-radius: 30px;
  text-decoration: none;
  color: #2A0031;
  padding: 0.5em 3em;
  box-shadow: 1px 1px 5px rgba(42, 0, 49, 0.5843137255);
}
#projects-container div.description-container a[href|="projects.html"]:hover {
  background-color: #c88dd2;
}

#homework-pages-container {
  margin-top: 15vw;
  padding: 5em 3em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#homework-pages-container div.homework-pages-link {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-top: 2em;
}
#homework-pages-container div.homework-pages-link a {
  width: 100%;
}
#homework-pages-container div.homework-pages-link a img {
  width: 100%;
  border-radius: 25px;
  box-shadow: 1px 1px 5px rgba(42, 0, 49, 0.5843137255);
}
#homework-pages-container div.homework-pages-link p {
  margin: 0.5em 1em;
}

@media only screen and (min-width: 1300px) {
  #introduction-container {
    margin-top: 10vw;
    width: 75%;
  }
  #skills-container {
    margin-top: 10vw;
  }
  div.description-container {
    width: 50%;
  }
  #projects-container div.project-link-container div {
    width: 18vw;
    margin-bottom: 2vw;
  }
  #projects-container div.project-link-container div a img {
    height: 10vw;
  }
  #projects-container div.project-link-container div a p {
    height: 10vw;
  }
  #projects-container div.description-container h2,
  #projects-container div.description-container p {
    width: 50%;
  }
}
@media only screen and (max-width: 900px) {
  #introduction-container {
    flex-direction: column;
    padding-top: 30vw;
  }
  #introduction-container div {
    width: 90%;
    padding: 0;
    margin-left: 0;
    margin-top: 2em;
  }
  #skills-container {
    align-items: flex-start;
    overflow: auto;
    padding: 5em 2em;
  }
  #skills-container h2::after {
    content: "→";
    margin-left: 1em;
  }
  #skills-container div.skill-pills {
    display: flex;
    position: relative;
  }
  #skills-container div.skill-pills div {
    flex-direction: column;
  }
  #skills-container div.skill-pills div p {
    font-size: 1.2em;
  }
  div.description-container {
    width: 100%;
  }
  #projects-container div.project-link-container {
    flex-direction: column;
  }
  #projects-container div.project-link-container div {
    width: 85vw;
    margin: 2vw 0;
  }
  #projects-container div.project-link-container div a img {
    height: 50vw;
  }
  #projects-container div.project-link-container div a p {
    opacity: 100%;
    border-radius: 0;
    bottom: 5vw;
  }
  #homework-pages-container {
    padding: 5em 2em;
  }
  #homework-pages-container div.homework-pages-link {
    width: 95%;
  }
}/*# sourceMappingURL=hello-stylesheet.css.map */